<div class="container-fluid nopadding">
  <div class="row job-bar justify-content-center">
    <div class="col-1 jobposting-top">
      <span class="vert-helper"></span><%= image_tag 'adobe-logo.gif' %>
    </div>
    <div class="col-8 jobposting-top vert-align">
      <div class = "row">
        <h1><%= @job.job_title %></h1>
        <div class="check-img">
          <%= image_tag('check.gif') %>
        </div>
      </div>
      <div class="row">
        <h3><%= @job.city %>, <%= @job.state %></h3>
      </div>
    </div>
    <div class="col-3 jobposting-top job-stats text-right">
  </div>
</div>
<div class = "container-fluid-job">
  <div class="row is-flex job-create-2">
  <div class="col-12 no-pad-left">
    <div class="no-pad-left newcard">  <!-- job description -->
      <div class="card nopadding">
        <div class="card-block job-description white">
          <div class="row">
            <div class="col-8 vert-align">
              <h1>Enter a Job Description</h1>
            </div>
          </div>
        </div>
        <div class="card-block job-description white" id="description-input">
          <div class ="input-description" contenteditable="true"></div>
        </div>
      </div>
    </div>

    <div class="no-pad-left newcard">  <!-- job description -->
      <div class="card nopadding">
        <div class="card-block job-description white">
          <div class="row">
            <div class="col-8 vert-align">
              <h1>Enter Minumum Qualifications</h1>
            </div>
          </div>
        </div>
        <div class="card-block job-description white" id="qualifications-input">
          <div class="input-qualifications" contenteditable="true"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>