
<div class='booyah-box col-10 offset-1'>
  <h1>User Profile</h1>
  <div class="float-right">
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
</div>
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <h2><%= @user.title %></h2>
  <h3><%= @user.city %> <%= @user.state %></h3>
  <br \>
  <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
</div>
