<!-- User Edit Modal -->
<div class="modal fade bd-example-modal-lg" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit User Info</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <%= simple_form_for @user do |f| %>
          <div class="row padded">
            <div class="col-3">
            <%= f.input :first_name %>
          </div>
          <div class="col-1">&nbsp</div>
          <div class="col-3">
            <%= f.input :last_name %>
          </div>
          <div class="col-1">&nbsp</div>
          <div class="col-3">
            <%= f.input :title %>
          </div>
        </div>
          <div class="row padded">
            <div class="col-3">
            <%= f.input :city %>
          </div>
            <div class="col-1">&nbsp</div>
            <div class="col-3">
            <%= f.input :state %>
          </div>
        </div>
        <div class="row padded">

          <div class="col-3">
            <%= f.input :degree_type %>
          </div>
          <div class="col-1">&nbsp</div>
          <div class="col-3">
            <%= f.input :degree_field %>
          </div>
        </div>
        <div class="col-12">
            <%= f.input :bio, :input_html => {:rows => 4} %>
          </div>
          <div class="row padded">
            <div class="col-12">
              Current Image: <%= cl_image_tag(@user.image.public_id + ".png", :width=>40, :height=>40, :gravity=>"face", :radius=>"20", :crop=>"thumb", version: @user.image.stored_version) %>
              <%= f.input :image %>
            </div>
          </div>
          <div class="row padded">
            <div class="col-12">
              Current Video: <%= cl_image_tag(@user.video.public_id + ".jpg", :resource_type => "video", :transformation => { :width => 100, :height => 72, :crop => :fill }) %>
              <%= f.input :video %>
            </div>
          </div>
            <br />
            <%= f.submit 'Update', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Work History Edit Modal -->
<div class="modal fade bd-example-modal-lg" id="whModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Job Info</h4>
      </div>
        <div class="modal-body">
          <div class="container-fluid">
          <%= simple_form_for @work_histories do |f| %>
          <div class="row padded">
            <div class="col-5">
            <%= f.input :company_name %>
          </div>
            <div class="col-1">&nbsp</div>
            <div class="col-5">
            <%= f.input :job_title %>
          </div>
          </div>
            <div class="row padded">
              <div class="col-5">
              <%= f.input :job_start_date %>
              </div>
              <div class="col-1">&nbsp</div>
              <div class="col-5">
              <%= f.input :job_end_date %>
              </div>
          </div>
          <div class="col-12">
            <%= f.input :job_description, :input_html => {:rows => 4} %>
          </div>
            <br />
            <%= f.submit 'Update', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid-profile">
    <div class="row">
    <div class="card w-35">
      <div class="video-box">
        <% if @user.video.present? %>
          <%= cl_video_tag(@user.video.public_id, controls: true, quality: 50, version: @user.video.stored_version) %>
        <% else %>
        <% end %>
      </div>
      <div class="card-block">
      <div class='booyah-box user-profile'>
        <div class ="row blue-box justify-content-between">
          <h1><%= @user.first_name %> <%= @user.last_name %></h1>
          <div>
            <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary', data: {toggle: 'modal', target: '#userModal'} %>
          </div>
        </div>
        <div class="row blue-box">
          <h2><%= @user.title %></h2><br />
        </div>
        <div class="row blue-box-city-degree">
          <%= image_tag 'location-icon.png' %><h3>&nbsp&nbsp&nbsp<%= @user.city %>, <%= @user.state %></h3>
        </div>
        <div class="row blue-box-city-degree">
          <%= image_tag 'education-icon.png' %><h3>&nbsp&nbsp<%= @user.degree_type %>, <%= @user.degree_field %></h3>
        </div>
        <br />
        <div class="row blue-box">
          <h4>about</h4><br />
          <h5><%= @user.bio %></h5>
        </div>

        <div class='row badges justify-content-between'>
          <%= image_tag 'badge-1.png' %><%= image_tag 'badge-2.png' %><%= image_tag 'badge-3.png' %><%= image_tag 'badge-4.png' %>
        </div>



      </div> <!-- End user-profile -->
    </div><!-- End user-profile card block -->

    <div class="card-footer">
      <div class="logo-box text-center">
        <%= link_to image_tag('logo-new.png'), root_path %>
      </div> <!-- End logo-box -->
    </div>
  </div> <!-- End card -->


    <div class="card w-65">

      <div class="social">
        <div class="row justify-content-between">
          <button class='hire-button'>Hire <%= @user.first_name %></button>

          <div class='social-icons'>
            <%= image_tag 'facebook-icon.png' %>&nbsp<%= image_tag 'twitter-icon.png' %>&nbsp<%= image_tag 'linkedin-icon.png' %>&nbsp<%= image_tag 'mail-icon.png' %>
          </div>

        </div>
      </div>

      <div class="card-block whiten">
            <div id="timeline" style="float:left; padding-left: 34px">
             <div id="timeline-bar" class="timeline-bar" style="margin-top: 0px; height: 1025px;">
               <div id="timeline-bar-inner" class="fill" style="height: 135px;"></div>
             </div>
           </div>
          <div class='booyah-box work-history'>
            <div class ="row justify-content-between">
              <div><i class="fa fa-briefcase" aria-hidden="true"></i><h1>Work History</h1></div>
              <div>
                <% if @user.work_histories.present? %>
                  <%= link_to 'Add', new_work_history_path(@user), class:'btn btn-primary' %>
                <% else %>
                  <%= link_to 'Add', new_work_history_path(@user), class:'btn btn-primary' %>
                <% end %>
              </div>
            </div>
        <br />
        <% @user.work_histories.order(:job_start_date).each do |workhistory| %>
        <div class="row justify-content-between padded2">
          <h2><%= workhistory.company_name %>&nbsp<%= link_to 'Edit', edit_work_history_path(workhistory), class: 'badge badge-primary', data: {toggle: 'modal', target: '#whModal'} %></h2>
          <br \>
          <div>
            <h4><%= workhistory.job_start_date.strftime("%B %d, %Y") %> - <%= workhistory.job_end_date.strftime("%B %d, %Y") %></h4>
          </div>
        </div>
        <hr width="94%">
            <h3><p class="padded3"><%= workhistory.job_title.upcase %></p></h3>
          <h5><p class="padded4"><%= workhistory.job_description %></p></h5>
          <br />
        <% end %>
      </div><!-- End work-history -->
      <br />
</div> <!-- End card-block -->
  </div> <!-- End card -->
</div> <!-- End row wrapper -->
</div><!-- End container wrapper -->
