<div class="container-fluid">
  <div class="row studio-bar">
    <div class="col-6 offset-1 studio-top">
    <h1>JobReel Studio</h1>
    <h3>Build your JobReel below. First, upload the videos that you'd like to use for each section in the left column and then, click and drag them to build your timeline below, one section at a time.</h3>
  </div>
<div class="col-2">&nbsp</div>
<div class="col-2 align-self-center">
          <button class='upload-button'>+&nbsp&nbsp&nbspUPLOAD VIDEO</button>
  </div>
</div>

<div class="row studio-body">
  <div class="card w-25 offset-1 vid-library padded5">
    <div class="card-block align-self-stretch"> <!--Library Navigation Block-->
<div class="row nopadding">
  <div class="col-10 vid-library-top">
    PROFILE JOBREEL
  </div>
  <div class="col-2 text-center side-border">
    +
  </div>
</div>
</div>

<div class="card-block white">
  <div class="row vid-library-body-first">
    <div class="col-2">
    <%= image_tag 'intro-icon-lg.png' %>
  </div>
  <div class="col-9 vert-align">Introduction
</div>
  <div class="col-9 offset-2 instructions">
    <h3>Upload videos that you would like to use for your introduction.</h3>
  </div>
  <div class="col-9 offset-1">
    <% if @user.video.present? %>
        <%= cl_video_tag(@user.video.public_id) %>
      <% else %>
    <% end %>
<%= image_tag 'upload-video.png' %>
  </div>
  </div>
  <hr>
  <div class="row vid-library-body">
    <div class="col-2">
    <%= image_tag 'education-icon-lg.png' %>
  </div>
  <div class="col-9 vert-align">Education
</div>
  <div class="col-9 offset-2 instructions">
    <h3>Upload videos that you would like to use for your education.</h3>
  </div>
  </div>
    <hr>
  <div class="row vid-library-body">
    <div class="col-2">
    <%= image_tag 'work-icon-lg.png' %>
  </div>
  <div class="col-9 vert-align">Work Experience
</div>
  <div class="col-9 offset-2 instructions">
    <h3>Upload videos that you would like to use for your work history.</h3>
  </div>
  </div>
    <hr>
  <div class="row vid-library-body">
    <div class="col-2">
    <%= image_tag 'hobbies-icon-lg.png' %>
  </div>
  <div class="col-9 vert-align">Hobbies
</div>
  <div class="col-9 offset-2 instructions">
    <h3>Upload videos that you would like to use to show off your hobbies and interests.</h3>
  </div>
  </div>
    <hr>
  <div class="row vid-library-body-last">
    <div class="col-2">
    <%= image_tag 'recs-icon-lg.png' %>
  </div>
  <div class="col-9 vert-align">Recommendations
</div>
  <div class="col-9 offset-2 instructions">
    <h3>Manage the video recommendations that you would like to display.</h3>
  </div>
  </div>
</div>

</div> <!--End of Video Library Card -->
<div class="card-columns studio-player padded5">
  <div class="card w-50 studio-player padded5">
    <div class="card-block white">
<div class="row">
      Im a new card.
    </div>
    </div>

  </div>

  <div class="card">
    Im the timeline!
  </div>
  </div>

</div>


</div>
