<div class="container-fluid-index">
  <div class="cta-box">
    <div class="col-12 logo vert-align">
      <p><span class="big-blue">job</span>reel</p>
    </div>
    <br />
    <div class = "row welcome-box">
      <div class="col-6 login-tab-active vert-align" id="login-tab">
        LOG IN
      </div>
      <div class="col-6 signup-tab-inactive vert-align" id="signup-tab">
        SIGN UP
      </div>
      <div class="col-12 welcome-bar vert-align" id="welcome-bar">
        <br />
        <span class="big-blue">WELCOME BACK!</span>
        <br />
      </div>
      <div class="col-12 login-form-box" id="login-form-box">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => "login-box"},:format => :json, :remote => true) do |f| %>
        <div class="form-inputs">
          <%= f.email_field :email, required: false, placeholder: "Email", autofocus: true %>
          <br />
          <br />
          <%= f.password_field :password, required: false, placeholder: "Password" %>
          <br /><br />
        </div>
        <div class="loginbox-rememberme">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              Remember me<%= link_to "Forgot your password?", new_password_path(resource_name), {:style=>'margin-left: 150px;'} %><br />
            <% end %>
          <% end %>
        </div>
        <br />
        <div class="form-actions">
          <%= f.submit "LOG IN", :class => "btn btn-info btn-block" %>
        </div>
        <% end %>
        <br />
        <div class="loginbox-links text-center">
          No account? <span id="signup-tab-text"> Sign up now!</span><br />
        </div>
      </div>
      <div class="col-12 signup-form-box" id="signup-form-box">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "signup-box"},:format => :json, :remote => true) do |f| %>
        <div class="form-inputs">
          <%= f.text_field :first_name, required: true, placeholder: "First Name", autofocus: true %>
          <br />          <br />
          <%= f.text_field :last_name, required: true, placeholder: "Last Name" %>
          <br />          <br />
          <%= f.email_field :email, required: true, placeholder: "Email" %>
          <br />          <br />
          <%= f.password_field :password, required: true, placeholder: "Password" %>
          <br />          <br />
          <%= f.password_field :password_confirmation, required: true, placeholder: "Confirm Password" %>
        </div>
        <br />
        <div class="form-actions">
          <%= f.submit "SIGN UP", :class => "btn btn-info btn-block" %>
        </div>
        <% end %>
        <br />
        <div class="loginbox-links text-center">
          Already have an account? <span id="login-tab-text"> Log in now!</span><br />
        </div>
      </div>
    </div>
  </div>
</div>
