<div class="container-fluid">
  <div class="row dashboard-bar justify-content-center">
    <div class="col-3">
      <div class="dashboard-avatar">
        <%= image_tag('dashavatar.jpg') %>
      </div>
      <div>
        <div class="dashboard-name">
          <span class="dashboard-first">James</span><br/>
          <span>McJameson</span><br/>
          <div class="dashboard-location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>Best Town, NA</span>
          </div>
        </div>
        <div class="dashboard-create vert-align text-center">
          Start Job Posting
        </div>

        <ul class="dashboard-menu-items">
          <li class="dashboard-menu-items"><%= image_tag('play.gif') %>Option One</li>
          <li class="dashboard-menu-items"><%= image_tag('play.gif') %>Option Two</li>
          <li class="dashboard-menu-items"><%= image_tag('play.gif') %>Option Three</li>
          <li class="dashboard-menu-items"><%= image_tag('play.gif') %>Option Four</li>
        </ul>
      </div>
      <div class="jobposting-divider">&nbsp;</div>
    </div>

    <div class="col-9">
      testtesttest
    </div>

  </div>



  </div>
