<div class="container-fluid-dashboard">
  <div class="row dashboard-bar justify-content-center">
    <div class="col-3 nopadding">
      <div class="dashboard-avatar">
        <% img = Avatarly.generate_avatar("text") %>

        <%= ('<img src="data:image/png;base64,%s">' % Base64.encode64(Avatarly.generate_avatar("text"))).html_safe %>


        <%= image_tag('dashavatar.jpg') %>
      </div>
      <div class="dashboard-menu">
        <div class="dashboard-name">
          <span class="dashboard-first"><%= @user.first_name %></span><br/>
          <span><%= @user.last_name %></span><br/>
          <div class="dashboard-location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span><%= @user.city %>, <%= @user.state %></span>
          </div>
        </div>
        <%= link_to new_job_path do %>
          <div class="dashboard-create vert-align text-center">
            Start Job Posting
          </div>
        <% end %>

        <ul class="dashboard-menu-items">
          <li class="dashboard-menu-items"><%= image_tag('play.gif') %>Option One</li>
          <li class="dashboard-menu-items"><%= image_tag('play.gif') %>Option Two</li>
          <li class="dashboard-menu-items"><%= image_tag('play.gif') %>Option Three</li>
          <li class="dashboard-menu-items"><%= image_tag('play.gif') %>Option Four</li>
        </ul>
      </div>
      <div class="jobposting-divider">&nbsp;</div>
    </div>

    <div class="col-9 nopadding">
      <div>
        <div class="dashboard-title">
          Open Job Postings
        </div>

        <% @jobs.each do |job| %>
          <div class="row nomargin dashboard-edit-icons">
            <div class="col-3 dashboard-top vert-align">
              <div><%= image_tag('collaborators.gif') %></div>
            </div>
            <div class="col-4 dashboard-sidebar vert-align">
              <div class = "row">
                <%= link_to job.job_title, job_path(job) %>
              </div>
              <div class="row">
                Unread Applications? 99
              </div>
            </div>
            <div class="col-3">
              <span class="vert-helper"></span>
              <%= link_to job_path(job), method: :delete, data: {confirm: 'Are you sure you want to delete this?'} do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp
              <% end %>
              <%= link_to edit_job_path(job) do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp
              <% end %>
                <i class="fa fa-pause" aria-hidden="true"></i>
            </div>
            <div class="col-1 vert-align">
              Time remaining?
            </div>
          </div>
          <div class="dashboard-divider">&nbsp;</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
