<div class="container-fluid-dashboard">
  <div class="row dashboard-bar justify-content-center">
    <div class="col-3 nopadding">
      <div class="dashboard-avatar">
        <%= image_tag('dashavatar.jpg') %>
      </div>
      <div class="dashboard-menu">
        <div class="dashboard-name">
          <span class="dashboard-first">James</span><br/>
          <span>McJameson</span><br/>
          <div class="dashboard-location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>Best Town, NA</span>
          </div>
        </div>
        <div class="dashboard-create vert-align text-center">
          Start Job Posting
        </div>

        <ul class="dashboard-menu-items">
          <li class="dashboard-menu-items"><%= image_tag('play.gif') %>Option One</li>
          <li class="dashboard-menu-items"><%= image_tag('play.gif') %>Option Two</li>
          <li class="dashboard-menu-items"><%= image_tag('play.gif') %>Option Three</li>
          <li class="dashboard-menu-items"><%= image_tag('play.gif') %>Option Four</li>
        </ul>
      </div>
      <div class="jobposting-divider">&nbsp;</div>
    </div>

    <div class="col-9 nopadding">
      <div>
        <div class="dashboard-title">
          Open Job Postings
        </div>
        <div class="row nomargin">
          <div class="col-3 dashboard-top vert-align">
            <div><%= image_tag('collaborators.gif') %></div>
          </div>
          <div class="col-7 dashboard-sidebar vert-align">
            <div class = "row">
              Position Title
            </div>
            <div class="row">
              Unread Applications? 99
            </div>
          </div>
          <div class="col-1 vert-align">
            Time remaining?
          </div>
        </div>
        <div class="dashboard-divider">&nbsp;</div>
        <div class="row nomargin">
          <div class="col-3 dashboard-top vert-align">
            <div><%= image_tag('collaborators.gif') %></div>
          </div>
          <div class="col-7 dashboard-sidebar vert-align">
            <div class = "row">
              Position Title
            </div>
            <div class="row">
              Unread Applications? 99
            </div>
          </div>
          <div class="col-1 vert-align">
            Time remaining?
          </div>
        </div>
        <div class="dashboard-divider">&nbsp;</div>
        <div class="row nomargin">
          <div class="col-3 dashboard-top vert-align">
            <div><%= image_tag('collaborators.gif') %></div>
          </div>
          <div class="col-7 dashboard-sidebar vert-align">
            <div class = "row">
              Position Title
            </div>
            <div class="row">
              Unread Applications? 99
            </div>
          </div>
          <div class="col-1 vert-align">
            Time remaining?
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
