<div class="container-fluid-dashboard">
  <div class="row dashboard-bar justify-content-center">
    <div class="col-3 nopadding">
      <div class="dashboard-menu">
        <div class="row dashboard-top-box">
          <div class="dashboard-avatar-change"><%= image_tag('change-1.png', :onclick => "cloudAvatar()")%></div>
          <% if @user.image_id? %>
            <%= cl_image_tag(@user.image_id, :width => 110, :height => 110,
             :crop => :thumb, :gravity => :face, :radius => :max) %>
          <% else %>
            <%= cl_image_tag(@user.image, :width => 110, :height => 110,
               :crop => :thumb, :gravity => :face, :radius => :max) %>
          <% end %>
            <span class="vert-helper"></span>
            <div class="dashboard-top-box-text">
              <%= @user.first_name %> <%= @user.last_name %><br /><br />
              <ul>
                <li class="row"><i class="fa fa-building fa-2" aria-hidden="true"></i><%= @user.city %></li>
                <li class="row"><i class="fa fa-map-marker fa-2" aria-hidden="true"></i><%= @user.state %></li>
              </ul>
            </div>
          </div>
        <ul class="dashboard-menu-items">
          <%= link_to dashboards_path do %>
            <li class="row dashboard-menu-items dashboard-active"><i class="fa fa-tachometer fa-3" aria-hidden="true"></i>Dashboard</li>
          <% end %>
          <%= link_to team_path do %>
            <li class="row dashboard-menu-items"><i class="fa fa-users fa-3" aria-hidden="true"></i>Manage Team Members</li>
          <% end %>
          <%= link_to settings_path do %>
            <li class="row dashboard-menu-items"><i class="fa fa-cogs fa-3" aria-hidden="true"></i>Account Settings</li>
          <% end %>
          <%= link_to new_job_path do %>
            <li class="row dashboard-menu-items-bold justify-content-center">
            <i class="fa fa-plus fa-3" aria-hidden="true"></i>
            Start Job Posting
          </li>
          <% end %>
        </ul>
      </div>
      <div class="jobposting-divider">&nbsp;</div>
    </div>

    <div class="col-9 nopadding">
      <div class="dashboard-box">
        <div class="row dashboard-title nomargin">
          <div class="col-6 dashboard-title-active-job">
            <span>Active Jobs (<%= @jobs.count %>)</span>
          </div>
          <div class="col-6 dashboard-title-performance-trend">
            <span>Performance Trends</span>
          </div>
        </div>


        <% @jobs.each do |job| %>
          <div class="row nomargin dashboard-edit-icons">
            <div class="col-1 dashboard-top">
              <%= image_tag 'adobe-logo.gif' %>
            </div>
            <div class="col-4 dashboard-sidebar">
              <span><h3><%= link_to job.job_title, job_path(job) %></h3></span><br />
              <span><i class="fa fa-map-marker" aria-hidden="true"></i> <%= job.city %>, <%= job.state %></span>
            </div>
            <div class="col-1">
              <span class="vert-helper"></span>
              <%= link_to job_path(job), method: :delete, data: {confirm: 'Are you sure you want to delete this?'} do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp
              <% end %>
              <%= link_to edit_job_path(job) do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp
              <% end %>
            </div>
            <div class="col-6 dashboard-team-avatar text-center">
              <% if @user.image_id? %>
              <%= cl_image_tag(@user.image_id, :width => 40, :height => 40,
                 :crop => :thumb, :gravity => :face, :radius => :max) %>
              <% else %>
                <%= cl_image_tag(@user.image, :width => 40, :height => 40,
                   :crop => :thumb, :gravity => :face, :radius => :max) %>
              <% end %>
                 <i class="fa fa-plus" aria-hidden="true"></i>

            </div>
          </div>
          <div class="dashboard-divider">&nbsp;</div>
          <div class="performance-trends-text">Recent Activity</div>


        <% end %>
      </div>
    </div>
  </div>
</div>
