<div class="container-fluid-dashboard">
  <div class="row dashboard-bar justify-content-center">
    <div class="col-3 nopadding">
      <div class="dashboard-menu">
        <div class="row dashboard-top-box">
          <div class="dashboard-avatar-change"><%= image_tag('change-1.png', :onclick => "cloudAvatar()")%></div>
          <% if @user.image_id? %>
            <%= cl_image_tag(@user.image_id, :width => 110, :height => 110,
             :crop => :thumb, :gravity => :face, :radius => :max) %>
          <% else %>
            <%= cl_image_tag(@user.image, :width => 110, :height => 110,
               :crop => :thumb, :gravity => :face, :radius => :max) %>
          <% end %>
            <span class="vert-helper"></span>
            <div class="dashboard-top-box-text">
              <%= @user.first_name %> <%= @user.last_name %><br /><br />
              <ul>
                <li class="row"><i class="fa fa-building fa-2" aria-hidden="true"></i><%= @user.city %></li>
                <li class="row"><i class="fa fa-map-marker fa-2" aria-hidden="true"></i><%= @user.state %></li>
              </ul>
            </div>
          </div>
        <ul class="dashboard-menu-items">
          <%= link_to dashboards_path do %>
            <li class="row dashboard-menu-items"><i class="fa fa-tachometer fa-3" aria-hidden="true"></i>Dashboard</li>
          <% end %>
          <%= link_to team_path do %>
            <li class="row dashboard-menu-items dashboard-active"><i class="fa fa-users fa-3" aria-hidden="true"></i>Manage Team Members</li>
          <% end %>
          <%= link_to settings_path do %>
            <li class="row dashboard-menu-items"><i class="fa fa-cogs fa-3" aria-hidden="true"></i>Account Settings</li>
          <% end %>
          <%= link_to new_job_path do %>
            <li class="row dashboard-menu-items-bold justify-content-center">
            <i class="fa fa-plus fa-3" aria-hidden="true"></i>
            Start Job Posting
          </li>
          <% end %>
        </ul>
      </div>
      <div class="jobposting-divider">&nbsp;</div>
    </div>

    <div class="col-9 nopadding">
      <div class="dashboard-box">
        <div class="row dashboard-title nomargin">
          <div class="col-6 dashboard-title-active-job">
            <span>Active Teams (#?)</span>
          </div>
          <div class="col-6 dashboard-title-performance-trend">
            <span>Team Members (#?)</span>
          </div>
        </div>

          <div class="row nomargin">
            <div class="col-1 team-image">
              <% if @user.image_id? %>
                <%= cl_image_tag(@user.image_id, :width => 60, :height => 60, :crop => :thumb) %>
              <% else %>
                <%= cl_image_tag(@user.image, :width => 60, :height => 60, :crop => :thumb) %>
              <% end %>
            </div>
            <div class="col-4 team-title-main team-title">
              <h3>Senior Engineer</h3>
              <div><i class="fa fa-map-marker team-title-icon" aria-hidden="true"></i><h4>New York City, New York</h4></div>
            </div>
            <div class="col-3 team-title-main team-title">
              <h3>Published:</h3>
              <h4>February 11th, 2017 08:50PM</h4>
            </div>
            <div class="col-4 team-button-spacing text-center">
              <button class="btn-team">Add New Person</button>
            </div>
          </div>
          <div class="team-divider">&nbsp;</div>
          <div class="row nomargin team-background">
            <div class="col-1 team-avatar-image vert-align">
              <% if @user.image_id? %>
                <%= cl_image_tag(@user.image_id, :width => 50, :height => 50,
                 :crop => :thumb, :gravity => :face, :radius => :max) %>
              <% else %>
                <%= cl_image_tag(@user.image, :width => 50, :height => 50,
                   :crop => :thumb, :gravity => :face, :radius => :max) %>
              <% end %>
            </div>
            <div class="col-2 team-title-sub team-title-sub">
              <h3>Nancy Moreno</h3>
              <h4>Manager</h4>
            </div>
            <div class="col-1 team-icon-sub">
              <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp
            </div>
            <div class="col-1 team-avatar-image vert-align">
              <% if @user.image_id? %>
                <%= cl_image_tag(@user.image_id, :width => 50, :height => 50,
                 :crop => :thumb, :gravity => :face, :radius => :max) %>
              <% else %>
                <%= cl_image_tag(@user.image, :width => 50, :height => 50,
                   :crop => :thumb, :gravity => :face, :radius => :max) %>
              <% end %>
            </div>
            <div class="col-2 team-title-sub team-title-sub">
              <h3>Nancy Moreno</h3>
              <h4>Manager</h4>
            </div>
            <div class="col-1 team-icon-sub">
              <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp
            </div>
            <div class="col-1 team-avatar-image vert-align">
              <% if @user.image_id? %>
                <%= cl_image_tag(@user.image_id, :width => 50, :height => 50,
                 :crop => :thumb, :gravity => :face, :radius => :max) %>
              <% else %>
                <%= cl_image_tag(@user.image, :width => 50, :height => 50,
                   :crop => :thumb, :gravity => :face, :radius => :max) %>
              <% end %>
            </div>
            <div class="col-2 team-title-sub team-title-sub">
              <h3>Nancy Moreno</h3>
              <h4>Manager</h4>
            </div>
            <div class="col-1 team-icon-sub ">
              <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp
            </div>
            <div class="col-1 team-avatar-image vert-align">
              <% if @user.image_id? %>
                <%= cl_image_tag(@user.image_id, :width => 50, :height => 50,
                 :crop => :thumb, :gravity => :face, :radius => :max) %>
              <% else %>
                <%= cl_image_tag(@user.image, :width => 50, :height => 50,
                   :crop => :thumb, :gravity => :face, :radius => :max) %>
              <% end %>
            </div>
            <div class="col-2 team-title-sub team-title-sub">
              <h3>Nancy Moreno</h3>
              <h4>Manager</h4>
            </div>
            <div class="col-1 team-icon-sub">
              <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp
            </div>
          <div class="team-divider">&nbsp;</div> 
      </div>
      <div class="row nomargin">
        <div class="col-1 team-image">
          <% if @user.image_id? %>
            <%= cl_image_tag(@user.image_id, :width => 60, :height => 60, :crop => :thumb) %>
          <% else %>
            <%= cl_image_tag(@user.image, :width => 60, :height => 60, :crop => :thumb) %>
          <% end %>
        </div>
        <div class="col-4 team-title-main team-title">
          <h3>Senior Engineer</h3>
          <div><i class="fa fa-map-marker team-title-icon" aria-hidden="true"></i><h4>New York City, New York</h4></div>
        </div>
        <div class="col-3 team-title-main team-title">
          <h3>Published:</h3>
          <h4>February 11th, 2017</h4>
        </div>
        <div class="col-4 team-button-spacing text-center">
          <button class="btn-team">Add New Person</button>
        </div>
      </div>      
    </div><br />
    <div class="dashboard-box">
      <div class="dashboard-settings">
        <div class="dashboard-settings-title">Pending Team Invites</div>
        <div class="row nomargin">
          <div class="col-2 team-title-main team-title text-center vert-align">
            <h3>Nancy Moreno</h3>
          </div>
          <div class="col-3 team-title-main team-title">
            <h3>Invited:</h3>
            <h4>February 11th, 2017</h4>
          </div>
          <div class="col-3 team-title-main team-title">
            <h3>Email:</h3>
            <h4>go@myjobreel.com</h4>
          </div>
          <div class="col-1 team-image-pending">
            <% if @user.image_id? %>
              <%= cl_image_tag(@user.image_id, :width => 60, :height => 60, :crop => :thumb) %>
            <% else %>
              <%= cl_image_tag(@user.image, :width => 60, :height => 60, :crop => :thumb) %>
            <% end %>
          </div>
          <div class="col-3 team-title-main team-title vert-align">
            <h3>Senior Engineer</h3>
          </div>            
          <div class="col-1 team-icon-sub-sub text-center">
            <i class="fa fa-repeat" aria-hidden="true"></i>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="team-divider">&nbsp;</div> 
        <div class="row nomargin">
          <div class="col-2 team-title-main team-title text-center vert-align">
            <h3>Nancy Moreno</h3>
          </div>
          <div class="col-3 team-title-main team-title">
            <h3>Invited:</h3>
            <h4>February 11th, 2017</h4>
          </div>
          <div class="col-3 team-title-main team-title">
            <h3>Email:</h3>
            <h4>go@myjobreel.com</h4>
          </div>
          <div class="col-1 team-image-pending">
            <% if @user.image_id? %>
              <%= cl_image_tag(@user.image_id, :width => 60, :height => 60, :crop => :thumb) %>
            <% else %>
              <%= cl_image_tag(@user.image, :width => 60, :height => 60, :crop => :thumb) %>
            <% end %>
          </div>
          <div class="col-3 team-title-main team-title vert-align">
            <h3>Senior Engineer</h3>
          </div>            
          <div class="col-1 team-icon-sub-sub text-center">
            <i class="fa fa-repeat" aria-hidden="true"></i>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </div>
        </div>        
      </div>
    </div><br />
  </div>
</div>
