<div class="booyah-box col-10 offset-1">
  <h1>Edit Your User Information</h1>
  <%= simple_form_for @educations do |f| %>
    <%= f.input :college_name %>
    <%= f.input :college_major %>
    <%= f.input :college_start_date, as: :date, html5: true %>
    <%= f.input :college_end_date, as: :date, html5: true %>
    <%= f.input :education_description %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>
