<!-- Show on all pages except user profile -->

<!-- Sign In Modal -->
<div class="modal fade bd-example-modal-lg" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In to Your Account</h4>
      </div>
      <div class="modal-body">
        <h2>Log in</h2>
        <br />
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => "login-box"},:format => :json, :remote => true) do |f| %>
          <div class="form-inputs">
            <%= f.email_field :email, required: false, autofocus: true %>
            <%= f.password_field :password, required: false %>
            <%= f.check_box :remember_me, :style => "margin-top:20px;margin-bottom:20px;" %>
            <%= f.label :remember_me, :style => "margin-top:20px;margin-bottom:20px;" %>
          </div>
          <br />
          <div class="form-actions">
            <%= f.submit "Log in", :class => "btn btn-default" %>
          </div>
        <% end %>
        <br />
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<!-- Sign Up Modal -->
<div class="modal fade bd-example-modal-lg" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up for a New Account</h4>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
<!-- End Modal -->


  <nav class="navbar navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to (image_tag ("logo-new.png"), class: 'nav-image'), root_path %>
    <div>
      <input type="text" name="search" placeholder="Search for people, jobs, companies, and more..." class="top-search-bar">
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Jobs', jobs_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Video', video_path(current_user), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'My Profile', user_path(current_user), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <%= link_to (image_tag ("notification-bell.png"), class: 'nav-image'), root_path %>
          <% if current_user.image? %>
            <%= link_to (cl_image_tag(current_user.image.public_id + ".png", :width=>40, :height=>40, :gravity=>"face", :radius=>"20", :crop=>"thumb", version: current_user.image.stored_version)), root_path %>
          <% else %>
            <%= link_to (cl_image_tag("default_avatar.png", :width=>40, :height=>40, :gravity=>"face", :radius=>"20", :crop=>"thumb")), root_path %>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path, class: 'nav-link', data: {toggle: 'modal', target: '#signinModal'} %>

          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link', data: {toggle: 'modal', target: '#signupModal'} %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
<script>
$(document).ready(function(){
  $("form#login-box").bind "ajax:success", (e, data, status, xhr) ->
    if data.success
      //javascript that executes if everything goes o.k.
      $('#signinModal').modal('hide');
    else
      alert('failure!');
};
</script>
