<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title>Product</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="Site-header">
      <!-- from http://stackoverflow.com/questions/19036541/in-rails-4-how-can-i-change-the-text-in-the-nav-bar-based-on-the-current-page -->
      <% if ((params[:action] == 'index') && (params[:controller] == 'pages')) %>
        <%= render "layouts/index-navbar" %>
      <% end %>
      <% if params[:action] == 'employer' %>
        <%= render "layouts/employer-index-navbar" %>
      <% end %>
      <% if params[:controller] == 'dashboards' %>
        <%= render "layouts/navbar" %>
      <% end %>
      <% if params[:controller] == 'jobs' %>
        <%= render "layouts/navbar" %>
      <% end %>
      <% if params[:controller] == 'videos' %>
        <%= render "layouts/navbar" %>
      <% end %>
      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </header>

    <main class="Site-content">
      <%= yield %>
    </main>

    <footer class="Site-footer">
      <% if params[:controller] == 'users' && params[:action] == 'show' %>
        <%= render "layouts/profile-footer" %>
      <% elsif !user_signed_in? %>
        <%= render "layouts/index-footer" %>
        <% end %>
      <% if params[:controller] == 'jobs' && params[:action] == 'show' %>
        <%= render "layouts/footer" %>
      <% elsif !user_signed_in? %>
          <%= render "layouts/index-footer" %>
      <% else %>
      <% end %>
    </footer>

  </body>
</html>
