<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title>Product</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if params[:action] == 'index' %>
    <%= render "layouts/index-navbar" %>
    <% end %>
    <% if params[:action] == 'employer' %>
    <%= render "layouts/footer" %>
    <% end %>
    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
