<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title>Product</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_page?(controller: 'users', action: 'show', id: current_user.id) %>
      <% else %>
      <%= render "layouts/navbar" %>
    <% end %>
    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <% if current_page?(controller: 'users', action: 'show', id: current_user.id) %>
    <% else %>
    <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
