<!DOCTYPE html>
<html>
  <head>
    <title>Product</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

<footer class="footer text-center">
  <div class="container">
    <span class="public-footer">Show off your online resume at <%= link_to 'jobreel.com', root_path %>. Already have an account? <%= link_to 'Login', root_path %>.</span>
    <br />
    <span class="public-footer-copy">COPYRIGHTED 2017 JOBREEL.COM. ALL RIGHTS RESERVED.</span>
  </div>
</footer>

  </body>
</html>
